Host cori.nersc.gov
  HostName cori.nersc.gov
  User janosh

Host desta
  HostName desta.dhcp.lbl.gov
  User janosh
  IdentityFile ~/.ssh/id_ed25519_desta

Host *
  AddKeysToAgent yes
  UseKeychain yes

Host csd3
  HostName login.hpc.cam.ac.uk

# https://unix.stackexchange.com/a/393850
Host login-e-*
  HostName %h.hpc.cam.ac.uk

Host csd3* login-e-*
  User jr769
  IdentityFile ~/.ssh/id_rsa_csd3
